<form method= "POST" action="/articles">  
  <label>Article Title: <input type="text" name= "title" id="title"></label>
  <label>Article Content: <input type="text" name= "content" id="content"></label>
</form>